@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat.core();

:root {
  --base-divider: #f3f3f3;
  --base-font-family: 'Quicksand', sans-serif;
  --base-secondary-font: 'Roboto', sans-serif;

  --base-font-size: 14px;
}
